<div id="navigator">
	<h1>www.PENETRATIONTEST.com</h1>
	<p>
	<a href="http://www.penetrationtest.com">Main</a>
        <a href="#" onClick="alert('Down for Maintenance. We\'ll be back shortly.')">Communications</a>
        <a href="#" onClick="alert('Down for Maintenance. We\'ll be back shortly.')">Services</a>
        <a href="#" onClick="alert('Down for Maintenance. We\'ll be back shortly.')">Downloads</a>
        <a href="#" onClick="alert('Down for Maintenance. We\'ll be back shortly.')">Dossier</a>  
</div>  <!-- navigator -->

<div id="content">


