body {
	margin: 0;
	bottom:0;
	height: 100%;
	padding: 0;
	font-family: "Avenir Next", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #333;
	background-color: #fff;
}


#navigator {
	position: fixed;
	top: 0;
	width: 100%;
	color: #ffffff;
	height: 80px;
	text-align: center;
	padding-bottom: 25px;
	-webkit-box-shadow: 0px 0px 8px 0px #000000;
	-moz-box-shadow: 0px 0px 8px 0px #000000;
	box-shadow: 0px 0px 8px 0px #000000;
	/* transparent background */
	background-color: rgba(15, 15, 15, 0.8);
	color: rgba(15, 15, 15, 0.8);
}
#navigator a {
	font-size: 20px;
	padding-left: 12px;
	padding-right: 12px;
	color: white;
	text-decoration: none;
}
#navigator a:hover {
	color: #fff0be;
	font-size: 20px;
	text-shadow:0 0 1px white;
} 
#navigator h1 {
        padding-above: 20px;
        font-family: "Lucidia Console", Lucidia, sans-serif;
	color: #CCFFFF;
        font-style: italic;
	text-shadow: 2px 2px #000000;
}

#socialicon {
	width: 46px;
	height; 46px;
}



#content {
        width: 1000px;
        padding-top: 110px;
        padding-bottom: 30px;
        margin-left: auto;
        margin-right: auto; 
}

#contentbox {
        border: 1px solid gray;
        padding: 20px;
	padding-left: 25px;
        border-radius: 4px;
}

#marketquote {
        text-align: center;
        font-style: italic;
        margin-top: 25px;
        margin-bottom: 15px;
}

#content hr {
	color: black;
	width: 100%;
}

#singlecontent {
	width: 900px;
	padding-left: 25px;
}

#textcontainer
{
	float: left;
	width: 100%;
/*	background: #FFF xurl(layout-two-liquid-background.gif) repeat-y 68% 0; */
}


#dualcontent
{
	clear: left;
	float: left;
	width: 60%;
	padding: 20px 0;
	margin: 0 0 0 4%;
	display: inline;
}

#dualcontent h2 { margin: 0; }

#dualcontent2
{
	float: right;
	width: 30%;
	padding: 20px 0;
	margin: 0 3% 0 0;
	display: inline;
}

#dualcontent2 h3 { margin: 0; }




ul.box {
	position: relative;
	z-index: 1; /* prevent shadows falling behind containers with backgrounds */
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 0; 
}
ul.box li {
	position: relative;
	float: left;
	width: 300px;
	height: 150px;
	padding: 0;
	border: 0px;
	border-radius:4px;
	margin: 0 30px 30px 0;
	/* background: #EEE8AA; */
	background: #f6e8b7;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset; 
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset; 
}
ul.box li:before,
ul.box li:after {
	content: '';
	z-index: -1;
	position: absolute;
	left: 10px;
	bottom: 10px;
	width: 70%;
	max-width: 300px; /* avoid rotation causing ugly appearance at large container widths */
	max-height: 100px;
	height: 55%;
	-webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
	-webkit-transform: skew(-15deg) rotate(-6deg);
	-moz-transform: skew(-15deg) rotate(-6deg);
	-ms-transform: skew(-15deg) rotate(-6deg);
	-o-transform: skew(-15deg) rotate(-6deg);
	transform: skew(-15deg) rotate(-6deg); 
}
ul.box li:after {
	left: auto;
	right: 10px;
	-webkit-transform: skew(15deg) rotate(6deg);
	-moz-transform: skew(15deg) rotate(6deg);
	-ms-transform: skew(15deg) rotate(6deg);
	-o-transform: skew(15deg) rotate(6deg);
	transform: skew(15deg) rotate(6deg); 
}




#footer {
	position: absolute;
	bottom: 0;
}
.page-wrap {
	min-height: 100%;
	margin-bottom: -35px; 
}
.page-wrap:after {
	content: "";
	display: block;
}
.site-footer, .page-wrap:after {
	height: 35px; 
}
.site-footer {
        font-size: 13px;
	padding-top: 10px;
        padding-left: 15px;
        padding-right: 15px;
        -webkit-box-shadow: 0px 0px 8px 0px #000000;
        -moz-box-shadow: 0px 0px 8px 0px #000000;
        box-shadow: 0px 0px 8px 0px #000000;
        /* transparent background */
        background-color: rgba(15, 15, 15, 0.8);
        color: rgba(15, 15, 15, 0.8);
}
.site-footer p {
	color: white;
	text-align: right;
	line-height: 4px;
}
